*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.W70P{
    width: 70%;
    margin: 0 auto;
}

.W80P{
    width: 80%;
    margin: 0 auto;
}

.W100P{
    width: 100%;
}


header{
    background-color: rgb(225, 255, 0);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    top: 0;

}

.headsection {
    background-color: red;
    display: flex;
    align-items: center;

}

.headelement {
    margin:0 15px;
}

footer {
    background-color: aqua;
    min-height: 30vh;
}

section {
    border:solid 5px black;
    min-height: 40vh;
}

.jumbo {
    background-color: aqua;
    height: calc(50vh + 70px);
    margin-top: 70px;
    margin-bottom: 150px;
    padding-top: 70PX;
}

.jumbocard {
    background-color: green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbocontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    
}

.imgjumbo {
    width: 70%;
}

h1 {
    font-size: 50px;
}

.businesscontainer{
    display: flex;
    justify-content: space-around;
    
}

.businesscard{
    min-height: 60vh;
    background-color: aquamarine;
    width: 26%;
    padding: 10px 20px 40px;
}

.businesscard > p{
    margin: 20px 0;
}

.businesscard > h6{
    text-align: center;
    margin-bottom: 10px;
}

.businesscard > h3{
    margin: 20px 0;
}

.businesscard > h5{
    padding-top: 30px;
}

.businesscard > h4{
    margin-bottom: 36px;
}

.businesscard > .empty{
    margin-bottom: 72px;
}