*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.redbg{
    background-color: red;  
}

.darkredbg {
    background-color: rgb(170, 0, 0);
}

.yellowbg{
    background-color: yellow;
}

.blubg {
    background-color: blue;
}

.azulebg {
    background-color: rgb(0, 200, 255);
}

.lightbg {
    background-color: rgb(182, 198, 221);
}

.greenbg {
    background-color: lightgreen;
}

.brownbg {
    background-color: brown;
}

.W70P{
    width: 70%;
    margin: 0 auto;
}

.W40P{
    width: 40%;
    margin: 0 auto;
}

.W100P{
    width: 100%;
} 

.padding30 {
    padding:30px;
}

.bordergrey {
    border: solid grey 1px;
}

.border {
    border: solid black 1px;
}

.grigiobutton {
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(237, 237, 237);
    border:none;

}

.blubutton {
    background-color: #3a8fff; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.greybutton {
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background: none;
}

header{
    background-color:white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    top: 0;

}

.headsection {
    
    display: flex;
    align-items: center;

}

.headelement {
    margin:0 15px;
}

.headsection > a {
    text-decoration: none;
    color:grey;
    font-weight: 100;
}

.jumbo {
    background-color: rgb(157, 191, 226);
    height: 60vh;
    min-height: 530px;
    margin-top: 70px;
    margin-bottom: 150px;
    padding-top: 70PX;
}

.jumbocard {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbocontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    
}

.jumbocontainer > div > button {
    margin:30px 0;
}

.jumbocontainer > div > p {
    font-weight: 100;
    font-size: 12px;
}

.fa-arrow-down {
    font-size: 50px;
    margin-top: 10%;
} 

.imgjumbo {
    width: 70%;
}

h1 {
    font-size: 50px;
}

.bottom30{
    margin-bottom: 30px;
}

.businesscontainer{
    display: flex;
    justify-content: space-between;
    
}

.businesscard {
    min-height: 60vh;
    width: 29%;
    
}

.businesscard  p{
    margin: 20px 0;
}

.businesscard > h6{
    text-align: center;
    margin: 10px 0;
}

.business button {
    width: 100%;
}

h6 > i{
    padding:0;
    padding-right: 10px;
}

.businesscard  h3{
    margin: 20px 0;
}

.businesscard  h5{
    padding-top: 30px;
}



.businesscard  .empty{
    margin-bottom: 72px;
}

.business > h2 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.businesspadding{
    padding: 10px 20px 40px;
}

.businesspadding i {
    padding:0;
    padding-right: 5px;
    
}

.flexicon {
    display: flex;
}

.sbarrato {
    font-weight: 200;
    color: gray;
    font-size: 12px;
    padding-bottom: 27px;
    
}

.businesspadding hr {
    width: 30%;
}

.ratio{
    margin:90px 0;
}

.contatticontainer {
    
    display: flex;
    justify-content: space-between;
}

.contatti >  h6 {
    text-align: center;
    padding: 1em 0;
}

.contatticontainer > div > h5 {
    margin: 20px 0;
}

.contatticontainer > div > p {
    margin-top: 80px;
}

.contatticard {
    display: flex;
    justify-content: flex-end;
    width: 100%;
     
}

.contatticard > .blubutton{
    height: 36px;
}

.partnercontainer{
    margin:100px auto;
    display: flex;
    justify-content: space-between; 
}

.partnercontainer > img {
    width: 55%;
}

.partnercard{
    padding:20px;
    width: 40%;
    
}

.partnercard p , .partnercard h3{
    margin: 30px 0;
}

.operazionicontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.operazionicard {
    width: 30%;
    margin: 30px 0;
}

.operazioni > h2 {
    font-size: 40px;
}

.operazionicard > h3{
    margin: 20px 0 30px 0 ;
}

.operazionicard > img {
    width: 100%
}

.findmore > h2 {
    width: 60%;
    font-size: 35px;
    margin: 60px 0;
}

.findmore  {
    padding: 40px 0;
    margin:100px auto;
}

.sponsor{
    display: flex;
}

.vetrina {
    display: flex;
    flex-wrap: wrap;
    width: 33vw;
    height: 33vw;
    align-items: center;
}

.vetrina > div {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vetrina img {
    width: 50%;
    filter: invert(1);
    
}

.sponsorcard {
    width: calc(100% - 66vw);
    padding:20px;
    background-color: rgb(237, 237, 237);
    height: 33vw;
    overflow: auto;
}

.sponsorcard > img {
    width: 40%
}

.sponsorcard hr {
    width: 20%;
    margin: 20px 0;
}

.sponsorcard p {
    margin: 20px 0;;
}

.tryit {
    height: 16vw;
    background-color: rgb(182, 198, 221);
    display: flex;
    align-content: center;
    
}

.tryitcontainer > h2 {
    font-size: 30px;
}

.tryitcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px auto;
}

.faq{
    margin:100px auto;
}

.faq > h2 {
    margin:30px 0;
    font-size: 30px;
}

.questionline {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid gray 1px;   
}

i {
    padding: 20px;
}

footer {
    background-color: #222222;
    min-height: 30vh;
    color:white
}

.footercontainer {
    display: flex;
    justify-content: space-between;
}

.footercard {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    padding: 10px 0;
}

.footercard > h3 {
    margin:20px 0;
}

.footercard > a {
    margin:5px 0;
    text-decoration: none;
    color:white;
    font-size: 12px;
}

.lang hr {
    border: 1px solid white;
    width: 80px;
    margin: 20px 0;
}

.lang p {
    font-size: 10px;
    padding-bottom:20px;
    margin-left: -12.5px;
}