*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.W80P{
    width: 80%;
    margin: 0 auto;
}

.W100P{
    width: 100%;
}

header{
    background-color: rgb(225, 255, 0);
    height: 70px;
}

footer {
    background-color: aqua;
    min-height: 30vh;
}

section {
    border:solid 5px black;
    min-height: 40vh;
}